<h1>Extract Data From String</h1>

<h3>Using Python, Pandas and RegEx</h3>
<h4>Step 1 - Load the data</h4>

In [30]:
#import modules and libraries
import pandas as pd
import re

In [31]:
#read data
data = pd.read_csv('./assets/relat_exemplo.csv').set_index('id')

<h4>Step 2 - Make an extra column for date</h4>

In [32]:
data['date']=None

<h4>Step 3 - Set indexes</h4>

In [33]:
index_description = data.columns.get_loc('description')
index_date = data.columns.get_loc('date')

<h4>Step 4 - Define the pattern of the Date</h4>

In [34]:
date_pattern = r'([0-9]{2}\/[0-9]{2}\/[0-9]{4})'

<h4>Step 5 - Looking for Date in Dataframe</h4>

In [35]:
for row in range(0, len(data)):
    date= re.search(date_pattern, data.iat[row, index_description]).group()
    data.iat[row, index_date] = date

In [36]:
data

                   description  value        date
id
0   Made payment on 17/02/2021   2000  17/02/2021
1          study on 20/03/2021      0  20/03/2021
2   Presentation on 02/10/2021   1400  02/10/2021
3   Made payment on 26/09/2021    140  26/09/2021

<h4>Step 6 - Re-arrenge columns in Dataframe</h4>

In [39]:
data=data[['date','description','value']]
data

          date                 description  value
id
0   17/02/2021  Made payment on 17/02/2021   2000
1   20/03/2021         study on 20/03/2021      0
2   02/10/2021  Presentation on 02/10/2021   1400
3   26/09/2021  Made payment on 26/09/2021    140

In [ ]:
nova =30